:root {
  /* COLOURS */
  --clr-dark-blue: #191826;
  --clr-light-blue: #66e2dc;
  --clr-bright-orange: #fa7453;
  --clr-light-orange: #ffb964;
  --clr-off-white: #fcfaf9;
  --clr-white: #ffffff;

  /* TYPOGRAPHY */
  --ff-primary: "IBM Plex Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 1rem; /* 16px */
  --fs-400: 1.125rem; /* 18px */
  --fs-500: 1.25rem; /* 20px */
  --fs-600: 2rem; /* 32px */
  --fs-700: 2.5rem; /* 40px */
  --fs-800: 4rem; /* 64px */
  --fs-850: 4.0625rem; /* 65px */
  --fs-900: 5.5rem; /* 88px */

  --fs-primary-heading: var(--fs-700);
  --fs-body: var(--fs-300);
  --fs-card-h: var(--fs-600);
  --fs-card-p: var(--fs-400);
  --fs-card-price: var(--fs-850);
  --fs-card-month: var(--fs-500);
  --fs-button: var(--fs-400);
  --fs-footer: var(--fs-300);

  --lh-100: 0.8;
  --lh-200: 1;
  --lh-250: 1.2;
  --lh-300: 1.25;
  --lh-400: 1.3;
  --lh-500: 1.556;
  --lh-600: 1.6;
  --lh-700: 1.625;
  --lh-800: 1.7;
  --lh-900: 1.778;

  --lh-primary-heading: var(--lh-250);
  --lh-body: var(--lh-700);
  --lh-card-h: var(--lh-300);
  --lh-card-p: var(--lh-500);
  --lh-card-price: var(--lh-100);
  --lh-card-month: var(--lh-600);
  --lh-button: var(--lh-900);
  --lh-footer: var(--lh-700);

  /* SPACING */
  --pp-s: 1.5rem;
  --pp-m: 2.25rem;
  --pp-l: 10.3125rem;
  --page-padding: var(--pp-s);

  /* BORDERS */
  --border-12px: 12px;

  /* TRANSITION */
  --transition-default: all 60ms ease-in;
}

@media (min-width: 35em) {
  :root {
    --fs-primary-heading: var(--fs-800);

    --lh-primary-heading: var(--lh-200);
  }
}

@media (min-width: 45em) {
  :root {
    --fs-body: var(--fs-400);

    --lh-body: var(--lh-500);

    --page-padding: var(--pp-m);
  }
}

@media (min-width: 70em) {
  :root {
    --fs-primary-heading: var(--fs-900);
    --fs-body: var(--fs-500);
    --fs-card-h: var(--fs-700);
    --fs-card-p: var(--fs-500);

    --lh-body: var(--lh-800);
    --lh-card-h: var(--lh-400);
    --lh-card-p: var(--lh-800);

    --page-padding: var(--pp-l);
  }
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* General spacing */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture, 
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for buttons */
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

/* UTILITY CLASSES */
.page-container {padding-inline: var(--page-padding);}

.text-clr-dark-blue {color: var(--clr-dark-blue);}
.text-clr-off-white {color: var(--clr-off-white);}

.fw-bold {font-weight: var(--fw-bold);}

.fs-lh-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: var(--lh-primary-heading);
}

.fs-lh-body {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
}

.fs-lh-card-h {
  font-size: var(--fs-card-h);
  line-height: var(--lh-card-h);
}

.fs-lh-card-p {
  font-size: var(--fs-card-p);
  line-height: var(--lh-card-p);
}

.fs-lh-card-price {
  font-size: var(--fs-card-price);
  line-height: var(--lh-card-price);
}

.fs-lh-card-month {
  font-size: var(--fs-card-month);
  line-height: var(--lh-card-month);
}

.fs-lh-button {
  font-size: var(--fs-button);
  line-height: var(--lh-button);
}

.fs-lh-footer {
  font-size: var(--fs-footer);
  line-height: var(--lh-footer);
}

.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* GENERAL STYLING */
body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-dark-blue);
}

/* BACKGROUNDS */
.page-backgrounds {
  position: relative;
  overflow: hidden;
}

.bg {
  max-width: fit-content;
  z-index: -1;
}

.bg, 
.bg-pattern {
  position: absolute;
}

.bg-mobile {
  top: -15rem;
  right: -13rem;
}

.bg-tablet {
  display: none;
  top: -18rem;
  right: -10rem;
}

.bg-desktop {
  display: none;
  top: -16rem;
  right: -13rem;
}

.bg-pattern-1 {
  display: none;
  width: 266.67px;
  top: -32px;
  right: -35.67px;
}

@media (min-width: 45em) {
  .bg-pattern-1 {
    display: block;
  }

  .bg-mobile {
    display: none;
  }

  .bg-tablet {
    display: block;
  }
}

@media (min-width: 70em) {
  .bg-pattern-1 {
    top: -40px;
    right: 0;
  }

  .bg-tablet {
    display: none;
  }

  .bg-desktop {
    display: block;
  }
}

/* HEADER */
header {
  padding-top: 2.5rem;
}

.brand-logo {
  height: 32px;
  width: 146.09px;
}

@media (min-width: 45em) {
  header {
    padding-top: 3.875rem;
  }
}

/* HERO SECTION */
.hero-section {
  padding: 4rem 0 10.375rem;
  position: relative;
}

.hero-section p {
  padding-top: 1.25rem;
}

@media (min-width: 35em) {
  .hero-section {
    text-align: center;
  }

  .hero-section p {
    padding-top: 1.75rem;
  }
}

@media (min-width: 45em) {
  .hero-section {
    text-align: left;
    padding: 5.9375rem 0 15rem;
  }

  .hero-section h2 {
    max-width: 70%;
  }

  .hero-section p {
    /* max-width: 32.125rem; */
    max-width: 78.5%;
  }
}

@media (min-width: 70em) {
  .hero-section {
    padding: 7.9375rem 0 20.0625rem;
  }

  .hero-section h2 {
    max-width: 40rem;
  }

  .hero-section p {
    max-width: 51.5625rem;
    padding-top: 2.5rem;
  }
}

@media (min-width: 80em) {
  .hero-section h2 {
    max-width: 63.4375rem;
  }
}

/* SIGNUP SECTION */
.signup-content {
  background-color: var(--clr-dark-blue);
  border-radius: var(--border-12px);
  height: 37.5rem;
  position: relative;
}

.bg-pattern-2 {
  max-width: 280px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.phone-image {
  position: absolute;
  max-width: 208.97px;
  top: -6.125rem;
  left: 50%;
  transform: translateX(-50%);
}

.signup-card {
  background-color: var(--clr-bright-orange);
  border-radius: var(--border-12px);
  padding: 3rem 2.25rem;
  position: absolute;
  top: 23.75rem;
  width: 100%;
  max-width: 25rem;
  right: 50%;
  transform: translateX(50%);

  p {
    padding-top: .75rem;
  }

  .price {
    padding-top: 2.25rem;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .download-buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      padding-block: .9375rem;
      border: none;
      border-radius: var(--border-12px);
      transition: var(--transition-default);
    }

    .ios {
      background-color: var(--clr-dark-blue);
    }

    .ios:hover {
      background-color: var(--clr-light-blue);
    }
    
    .android {
      background-color: var(--clr-off-white);
    }

    .android:hover {
      background-color: var(--clr-light-orange);
    }
  }
}

@media (min-width: 45em) {
  .signup-container {
    padding-inline: var(--pp-m);
  }

  .bg-pattern-2 {
    max-width: 280px;
    top: -2rem;
    left: 14.3125rem;
    transform: translateX(0);
  }

  .phone-image {
    max-width: 270.21px;
    top: -8.625rem;
    left: 4rem;
    transform: translateX(0);
  }

  .signup-card {
    padding: 3rem;
    top: 9.0625rem;
    right: 3.75rem;
    transform: translateX(0);
  }
}

@media (min-width: 70em) {
  .signup-container {
    padding-inline: var(--pp-l);
  }

  .bg-pattern-2 {
    max-width: 312px;
    top: -2.5rem;
    left: 21rem;
  }

  .phone-image {
    max-width: 312px;
    top: -13.3125rem;
    left: 6.375rem;
  }

  .signup-card {
    padding: 3.625rem 3.6875rem 3rem 3.375rem;
    top: 5.625rem;
    right: 5.9375rem;
    max-width: 27.875rem;

    p {
      padding-top: 1.375rem;
    }
  
    .price {
      padding-top: 2.4375rem;
    }
  
    .download-buttons {
      margin-top: 2.875rem;
    }
  }
}

/* FOOTER */
footer {
  margin-top: 24.375rem;
  padding-bottom: 5rem;
}

.footer-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.social-links path {
  transition: var(--transition-default);
}

.social-link:hover path {
  fill: var(--clr-bright-orange);
}

@media (min-width: 45em) {
  footer {
    margin-top: 12rem;
    padding-bottom: 5.3125rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      max-width: 22.875rem;
    }
  }
}

@media (min-width: 70em) {
  footer {
    margin-top: 13.125rem;
    padding-bottom: 5.6875rem;
  }

  .footer-container {
    display: flex;
  }

  .footer-content {
    margin-top: 0;
    margin-left: 5rem;
    flex: 1;
  }
}

@media (min-width: 80em) {
  .footer-content {
    margin-left: 8.61rem;
  }
}