:root {
  --clr-primary-orange: hsl(31, 77%, 52%);
  --clr-primary-dark-cyan: hsl(184, 100%, 22%);
  --clr-primary-very-dark-cyan: hsl(179, 100%, 13%);

  --clr-neutral-trans-white: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-very-light-grey: hsl(0, 0%, 95%);

  --font-family-base: 'Lexend Deca', sans-serif;
  --font-family-heading: 'Big Shoulders Display', cursive;

  --font-size-base: 0.9375rem;

  --padding-card: 3.25rem;
  --card-spacing-main: 2rem;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  /* border: 1px solid black; */
}

button a {
  text-decoration: none;
}

/* General Styling */

body {
  padding: 5rem 1.5rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  box-sizing: content-box;
  display: block;
  padding: .5rem 0;
  margin-bottom: var(--card-spacing-main);
}

h2 {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--clr-neutral-very-light-grey);
  margin-bottom: var(--card-spacing-main);
}

p {
  font-family: var(--font-family-base);
  font-size: var(--font-family-base);
  line-height: 1.75rem;
  color: var(--clr-neutral-trans-white);
  margin-bottom: var(--card-spacing-main);
}

a {
  font-family: var(--font-family-base);
  text-decoration: none;
  background-color: var(--clr-neutral-very-light-grey);
  border: 2px solid var(--clr-neutral-very-light-grey);
  border-radius: 2rem;
  padding: .9375rem 2rem;
  margin-top: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  overflow: hidden;
}

.card {
  padding: var(--padding-card);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Card Section Colors */

.sedans-card {
  background-color: var(--clr-primary-orange);
}

.sedans-learn-more {
  color: var(--clr-primary-orange);
}

.suvs-card {
  background-color: var(--clr-primary-dark-cyan);
}

.suvs-learn-more {
  color: var(--clr-primary-dark-cyan);
}

.luxury-card {
  background-color: var(--clr-primary-very-dark-cyan);
}

.luxury-learn-more {
  color: var(--clr-primary-very-dark-cyan);
}

/* Active State Stylings */

a:hover {
  cursor: pointer;
  color: var(--clr-neutral-very-light-grey);
}

.sedans-learn-more:hover {
  background-color: var(--clr-primary-orange);
}

.suvs-learn-more:hover {
  background-color: var(--clr-primary-dark-cyan);
}

.luxury-learn-more:hover {
  background-color: var(--clr-primary-very-dark-cyan);
}

@media (min-width: 680px) {
  .flex-container {
    flex-direction: row;
    max-width: 977px;
    min-height: 35rem;
  }
}